<div class="wrapper">
  <div class="side-ber">
    <div class="side-ber__user-name">
      <%= current_user.name %>
    </div>

    <div class="side-ber__new-group">
      <%= link_to "新規グループ作成", new_group_path, class: 'post' %>
    </div>  

    <div class='groups'>
      <%= link_to group_path(@group) do %>
        <div class='groups__name'>
          <p>グループ名:<%=@group.name%></p>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="event-main">
    <div class="event-new">
      <%= link_to  "＋", 
      new_group_event_path(@group), class: "post" %>
    </div>
<%= link_to group_event_path(@group), class: "requests", method: :get do %>
    <div id="requests">
    <%end%>
      <%= month_calendar events: @events do |date, events| %>
        <%=date.to_formatted_s(:short)%>
        <% events.each do |event| %>
          <div style="background-color:<%=event.color%>; color:white;">
            
            <%= event.title %>
          </div>
            
          <% end %>
        <% end %>
    </div>
  </div>
</div>


