  <div class="wrapper">
  <div class="form">
  <section class="event-box">
  <div style="background-color:<%= @event.color %>; color:white; border-radius: 5px; padding: 3px 3px 3px 20px; margin: 2px; width: 150px">
  <h1 class="event-name"><%= @event.title%></h1>
  </div>
  <div class="time">
  <tr>
  <th>開始</th>
  <td><%= @event.start%></td>
  </tr>
  <tr>
  <th>終了</th>
  <td><%= @event.end %></td>
  </tr>
  <div>
  </section>
  
  <div class="navi">
    <div class="navi__edit">
      <%= link_to '予定の編集', edit_group_event_path(@group,@event), class: "link_to_edit-btn", 
      method: :get %> 
    </div>
    <div class="navi__delete">
      <h4 class="text-danger">
        <%= link_to '削除する', "/groups/#{@group.id}/events/#{@event.id}", class: "delete-btn", method: :delete, data:
        { confirm: '本当に削除しますか?',
          cancel: 'やめる',
          commit: '削除する'}, title: '削除確認' %>
      </h4>
    </div> 
  </div>
  </div>
  </div>